:root {
  --ccp-dark-blue: hsl(204, 39%, 26%);
  --ccp-light-blue: hsl(195, 100%, 46%);
  --ccp-minerva-green: hsl(199, 100%, 21%);
  --ccp-light-green: hsl(64, 70%, 49%);
  --mdc-theme-primary: var(--ccp-minerva-green);
}

input,
select {
   font-family: 'Segoe UI', sans-serif;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--ccp-minerva-green);
    color: hsl(0 0% 10%);
    overflow: show;
}

.heading {
  /* font-family: cholla-sans, sans-serif; */
  font-weight: 700;
  font-size: 40px;
  color: var(--ccp-minerva-green);
  text-align: center;
}

.small-heading {
  /* font-family: cholla-sans, sans-serif; */
  font-weight: 600;
  font-size: 24px;
  color: var(--ccp-minerva-green);
  text-align: center;
}

.text .radio-label {
  font-size: 18px;
  color: hsl(0 0% 10%);
}

.flex-wrapper {
  width: 90vw;
  margin: 5vh auto;
  display: flex;
  justify-content: center;
  background-color: #f5f7fd;
  border-radius: 8px;
}

.flex-item {
  font-size: 20px;
  width: 70vw;
  margin: 5vh;
  text-align: center;
}

p {
  text-align: left;
}

.custom-button {
  background-color: var(--ccp-minerva-green) !important;
  margin: 10px 0 !important;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:disabled {
  background-color: hsl(177, 100%, 36%) !important;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
}

input[type='checkbox']:checked {
  accent-color: var(
    --ccp-minerva-green
  ); /* Changes the checkbox color when checked */
}

#video-img-item {
  max-width: 75%;
  max-height: 75%;
}

.columns {
  display: flex;
  align-items: center;
}

.columns > * {
  flex-basis: 100%;
}

.columns img {
  max-width: 15rem;
  height: auto;
  padding: 0%;
}

.columns p {
  margin: 0;
}

.imprint,
a {
  color: rgb(66, 66, 66);
  font-size: smaller;
  margin: 0;
  text-align: center;
}
